@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body{
    background-image: linear-gradient(to right,#113E59,#79ACD9);
}
p {
    text-align: justify;

}
main {
border-radius: 10px;
background-color:#F2F2F2;
width: 600px;
padding:10px;
margin: auto;
box-shadow: 5px 5px 15px rgba(17, 62, 89);
}
h1{
color: #D94436;
text-align: center;
text-shadow: 1px 1px 3px #8f2d24;
}
h2{
color: black;
text-align: justify;
text-shadow: 1px 1px 3px #111010;
}